.present, .view
    width: 80%
    height: 80vh
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    margin: auto

.present
    background-color: white
    padding: 3%
    overflow: scroll
    text-align: center
    font-family: "Gill Sans"

    h2
        color: #446E2F
        text-transform: uppercase
        font-weight: bold
        font-size: 34px
        margin-bottom: 10px

    h3
        font-size: 18px

    img
        width: 100%
        max-width: 400px
        margin: 20px auto
        display: block
        border: 5px solid #446E2F

    a
        width: 100%
        max-width: 300px
        margin: 40px auto
        padding: 10px
        border: 1px solid #446E2F
        border-radius: 3px
        display: block
        font-size: 18px
        text-transform: uppercase
        color: white
        background-color: #446E2F

        &:hover
            background-color: white
            color: #446E2F
